
@media screen and (max-width: 840px) {
    /*HEADER*/
    #header .header-wrapper {
        text-align: center;
    }
    #header .header-wrapper .region.region-header {
        text-align: center;
        
        float: none;
    }
    #header .header-wrapper > * {
        display: block;
    }
    /*MENU*/
    #block-system-main-menu ul {
        text-align: center;
    }
    #block-system-main-menu ul li {
        display: inline-flex;
    }

    /*EVENT BLOCK*/
    #event-block .box.pull-right {
        position: relative;
        margin-top: 10px;
        
        width: 100%;
    }

    /* RESET BLOCKS */
    #block-views-get-involved-block-1 .view-content .views-row,
    #block-views-our-mission-front .view-content .views-row {
        display: block;

        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        
        width: 100%;
    }
    #block-views-our-mission-front .view-content .views-row .field-content {
        padding: 0 10px;
    }

    /*BANNER*/
    #block-views-banner-slider-block .banner-highligthed .banner-text {
        position: absolute;

        top: 50%;
        margin-top: -20px;

        width: 100%;
    }
    #block-views-banner-slider-block .banner-highligthed .banner-text .banner-title {
        font-size: 2em;
    }
    #block-views-banner-slider-block .banner-highligthed .banner-text .banner-caption {
        font-size: 1em;
    }

    /*BLOG SLIDESHOW*/
    #block-views-blog-front .view-content .views-row {
        display: block;

        width: 100% !important;
    }
    div#views_slideshow_cycle_teaser_section_blog-front {
        width: 100% !important;
    }
    #block-views-blog-front .section {
        overflow: visible;
    }
    #block-views-blog-front .content {
        padding: 0;
    }
    
    /*SLICK*/
    #slick-views-blog-1-slider .slide--grid ul li {
        display: block;
        
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    #block-views-banner-slider-block .banner-highligthed .banner-caption {
        display: none;
    }
}
